<app-banner></app-banner>

<section class="animal-list container">
  <!-- Filtros para gatos e cachorros -->
  <br>
  <br>
  <div class="filter-section text-center mb-4">
    <button class="btn btn-outline-primary me-2" (click)="filtrarAnimais('todos')">Todos</button>
    <button class="btn btn-outline-primary me-2" (click)="filtrarAnimais('CAT')">Gatos</button>
    <button class="btn btn-outline-primary" (click)="filtrarAnimais('DOG')">Cachorros</button>
  </div>

  <!-- Spinner de Loading -->
  <div class="text-center" *ngIf="loading">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Carregando...</span>
    </div>
  </div>

  <!-- Listagem dos Animais -->
  <div class="row" *ngIf="!loading">
    <div class="col-md-4 mb-4" *ngFor="let animal of getAnimaisFiltrados()">
      <div class="card animal-card">
        <img [src]="animal.animalImage[0].animalImage[0].url" class="card-img-top" [alt]="animal.name">
        <div class="card-body">
          <h5 class="card-title">{{ animal.name }}</h5>
          <p class="card-text">{{ animal.animalAge }}</p>
          <a [routerLink]="['/animal', animal.id]" class="btn btn-primary">Saber Mais / Adotar</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Espaço para Google Ads -->

</section>