<div class="container">
  <div *ngIf="animal" class="animal-details-card">
    <div class="animal-image">
      <img [src]="animal.image.animalImage[0].url" alt="{{ animal.name }}" />
    </div>
    <div class="animal-info">
      <h1>{{ animal.name }}</h1>
      <p><strong>Age:</strong> {{ animal.age }}</p>
      <p><strong>Gender:</strong> {{ animal.gender }}</p>
      <p><strong>Breed:</strong> {{ animal.breed }}</p>
      <p><strong>Description:</strong> {{ animal.description }}</p>

      <div class="adopt-section">
        <button class="btn btn-primary">Adopt {{ animal.name }}</button>
      </div>
    </div>
  </div>
</div>