<section class="banner container-fluid text-center">
    <div class="row align-items-center">
        <!-- Coluna do texto -->
        <div class="col-md-6 banner-text">
            <h1 class="display-4">Quem Somos,</h1>
            <p class="lead">Conheça mais sobre nosso trabalho de adoção de cães e gatos!</p>

            <!-- Botões -->
            <div class="button-group">
                <a href="#" class="btn btn-primary btn-lg me-3">Adotar</a>
            </div>
        </div>

        <!-- Coluna da imagem -->
        <div class="col-md-6">
            <img src="assets/cachorroBanner.png" class="img-fluid rounded-circle banner-img" alt="Adopt Cat">
        </div>
    </div>
</section>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3965144937959030"
    crossorigin="anonymous"></script>
<!-- Banner pacotinho do amor -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3965144937959030" data-ad-slot="4799769296"
    data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>